<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>SnowMan情報</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"  rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<img th:src="@{/picture/information.png}" alt="" width="1100">
<img th:src="@{/picture/snowman.png}" alt="" width="1349">

<div class="container text-center">
    <div class="row">
        <div class="col">
            <br>
            ・　 ～　<a href="https://www.instagram.com/snowman.official.9" target="_blank">Instagram</a>　・　
            <a href="https://twitter.com/SN__20200122" target="_blank">X(Twitter)</a>　・　
            <a href="https://www.youtube.com/c/J_SNOWMAN/" target="_blank">YouTube</a>　・　
<!--            <a href="https://www.tiktok.com/@snowman_mentrecording_j" target="_blank">TikTok</a>　・　-->
<!--            <a href="https://fc-securesignon.johnnys-net.jp/5b61af9c-52aa-406e-8300-ed1f42855654/auth-ui/login?__aic_csrf=LHCcBeIrwhIcbkXj&claims=%7B%22userinfo%22%3A%7B%22customer_id%22%3Anull%2C%22fun_id%22%3Anull%2C%22term_period%22%3Anull%7D%2C%22id_token%22%3A%7B%22customer_id%22%3Anull%2C%22fun_id%22%3Anull%2C%22term_period%22%3Anull%7D%7D&client_id=b8fea70e-e069-4f48-ba09-27a6d8b884ba&f=SN&is_mail_member=0&n=Snow+Man&prompt=login&redirect_uri=https%3A%2F%2Fwww.fc-member.johnnys-net.jp%2Flogin%2Fcomplete&response_type=code&scope=openid+email&state=c19838b59461323bcea666a5ad5f4d6f&ui_locales=ja-JP" target="_blank">ファンクラブ</a>　・　-->
            <a href="https://mentrecording.jp/snowman/" target="_blank">公式サイト</a>　 ～　
            <a href="http://localhost:8080/list" class="btn">・ </a>
            <br>
            <br>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <font size="10" color="yellow">岩本照</font>
            <table>
                <tr>
                    <td><br>Mr.</br>甘党マッチョ<br></br>リーダー<br><font size="6">情熱</font> </br><br>「ばれてしまったら、そーがない」</td>
                    <td>&nbsp;</td>
                    <td><a href="/main/1"><img th:src="@{/picture/hikaru.png}" width="230"  ></a></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="purple">深澤辰哉</font>
            <table>
                <tr>
                    <td><br>MC担当</br>リアコ<br></br>しんらい<br><font size="6">守護</font></br><br>「喜劇王と呼んでくれ　あぁぁい！！」</td>
                    <td>&nbsp;</td>
                    <td><a href="/main/2"><img th:src="@{/picture/tatsuya.png}" width="233"></a></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="gainsboro">ラウール</font>
            <table>
                <tr>
                    <td><br>最強で最長の</br>最年少<br></br>センター<br><font size="6">希望</font></br><br>「お前、今年で　３０だろ！自覚持てよ！」</td>
                    <td>&nbsp;</td>
                    <td><a href="/main/3"><img th:src="@{/picture/raul.png}" width="230"></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <font size="10" color="red">宮舘涼太</font>
            <table>
                <tr>
                    <td><br>彼が止まれば</br>時も止まる<br></br>ギャップ<br><font size="6">魅力</font></br><br>「もう明日happy tomorrowだぜ」</td>
                    <td>&nbsp;</td>
                    <td><a href="/main/4"><img th:src="@{/picture/ryota.png}" width="230"></a></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="blue">渡辺翔太</font>
            <table>
                <tr>
                    <td><br>美声で</br>黙らせる男<br></br>プライド<br><font size="6">信念</font></br><br>「もうね、ぜんっぜん良くない」</td>
                    <td>&nbsp;</td>
                    <td><a href="/main/5"><img th:src="@{/picture/shota.png}" width="230"></a></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="orange">向井康二</font>
            <table>
                <tr>
                    <td><br>甘えん坊</br>Photo boy<br></br>ピュア<br><font size="6">愛情</font></br><br>「俺は哺乳類なのか」</td>
                    <td>&nbsp;</td>
                    <td><a href="/main/6"><img th:src="@{/picture/koji.png}" width="230"></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <font size="10" color="green">阿部亮平</font>
            <table>
                <tr>
                    <td><br>インテリ</br>あざと男子<br></br>どりょく<br><font size="6">秀才</font></br><br>「おい、ゆり組さいこーかよ」</td>
                    <td>&nbsp;</td>
                    <td><a href="/main/7"><img th:src="@{/picture/ryohei.png}" width="230"></a></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="hotpink">佐久間大介</font>
            <table>
                <tr>
                    <td><br>ネタバレを</br>許さない男<br></br>やさしさ<br><font size="6">笑顔</font></br><br>「さくまはお茶系が苦手なんだぞ」</td>
                    <td>&nbsp;</td>
                    <td><a href="/main/8"><img th:src="@{/picture/daisuke.png}" width="230"></a></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="black">目黒蓮</font>
            <table>
                <tr>
                    <td><br>今世紀何しても</br>キマる男<br></br>まっすぐ<br><font size="6">向上心</font></br><br>「角度とかいいからおばさんかけよ」</td>
                    <td>&nbsp;</td>
                    <td><a href="/main/9"><img th:src="@{/picture/ren.png}" width="230"></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>