<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SnowMan情報</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<img th:src="@{/picture/information.png}" alt="" width="1100">
<img th:src="@{/picture/snowman.png}" alt="" width="1349">

<div class="container text-center">
    <div class="row">
        <div class="col">
            <br>
            <a href="https://www.instagram.com/snowman_official_j/">Instagram</a>　・　
            <a href="https://twitter.com/SN__20200122">X(Twitter)</a>　・　
            <a href="https://www.youtube.com/c/J_SNOWMAN/">YouTube</a>　・　
            <a href="https://www.tiktok.com/@snowman_mentrecording_j">TikTok</a>　・　
            <a href="https://fc-securesignon.johnnys-net.jp/5b61af9c-52aa-406e-8300-ed1f42855654/auth-ui/login?__aic_csrf=LHCcBeIrwhIcbkXj&claims=%7B%22userinfo%22%3A%7B%22customer_id%22%3Anull%2C%22fun_id%22%3Anull%2C%22term_period%22%3Anull%7D%2C%22id_token%22%3A%7B%22customer_id%22%3Anull%2C%22fun_id%22%3Anull%2C%22term_period%22%3Anull%7D%7D&client_id=b8fea70e-e069-4f48-ba09-27a6d8b884ba&f=SN&is_mail_member=0&n=Snow+Man&prompt=login&redirect_uri=https%3A%2F%2Fwww.fc-member.johnnys-net.jp%2Flogin%2Fcomplete&response_type=code&scope=openid+email&state=c19838b59461323bcea666a5ad5f4d6f&ui_locales=ja-JP">ファンクラブ</a>　・　
            <a href="https://mentrecording.jp/snowman/">公式サイト</a>
            <br>
            <br>
            <a href="http://localhost:8080/list">編集画面へ</a>
            <br>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <font size="10" color="yellow">岩本照</font>
            <table>
                <tr>
                    <td><br>Mr.</br>甘党マッチョ<br></br>SnowManの<br>振付師</br><br>怖そうに見えて実はタピオカとチョコレートが大好きなギャップ萌えが半端ない...</td>
                    <td>&nbsp;</td>
                    <td><img th:src="@{/picture/hikaru.png}" width="230"></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="purple">深澤辰哉</font>
            <table>
                <tr>
                    <td><br>MC担当</br>リアコ<br></br>SnowManの<br>最年長</br><br>モノマネ、クレーンゲームが得意でいじられキャラだけど時折見せる表情がまじでイケメン</td>
                    <td>&nbsp;</td>
                    <td><img th:src="@{/picture/tatsuya.png}" width="233"></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="gainsboro">ラウール</font>
            <table>
                <tr>
                    <td><br>最強で最長の</br>最年少<br></br>SnowManの<br>愛され末っ子</br><br>ステージにたてば一際目立つ存在、一歩外に出ればのびのびお兄ちゃんたちに甘えまくり</td>
                    <td>&nbsp;</td>
                    <td><img th:src="@{/picture/raul.png}" width="230"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <font size="10" color="red">宮舘涼太</font>
            <table>
                <tr>
                    <td><br>彼が止まれば</br>時も止まる<br></br>SnowManの<br>貴族であり国王</br><br>貴族オーラ全開だけど笑った時の笑顔がかわいい、舘さんにしか出せない空気間が最高</td>
                    <td>&nbsp;</td>
                    <td><img th:src="@{/picture/ryota.png}" width="230"></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="blue">渡辺翔太</font>
            <table>
                <tr>
                    <td><br>美声で</br>黙らせる男<br></br>Snowmanの<br>メインボーカル</br><br>美容に詳しく見た目はクールだけど中身はかわいい、歌声は誰もが虜になるほどのすごさ</td>
                    <td>&nbsp;</td>
                    <td><img th:src="@{/picture/shota.png}" width="230"></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="orange">向井康二</font>
            <table>
                <tr>
                    <td><br>甘えん坊</br>Photo boy<br></br>SnowManの<br>バラエティー班</br><br>グループ唯一の関西人、優しくてとても素直な泣き虫、ファンへの思いやりがとてもすごい</td>
                    <td>&nbsp;</td>
                    <td><img th:src="@{/picture/koji.png}" width="230"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <font size="10" color="green">阿部亮平</font>
            <table>
                <tr>
                    <td><br>インテリ</br>あざと男子<br></br>SnowManの<br>頭脳</br><br>本人は狙ってしているのかわからないがとてもあざとかわいい、マルチアングルは是非見て！</td>
                    <td>&nbsp;</td>
                    <td><img th:src="@{/picture/ryohei.png}" width="230"></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="hotpink">佐久間大介</font>
            <table>
                <tr>
                    <td><br>ネタバレを</br>許さない男<br></br>SnowManの<br>元気の源</br><br>生粋のアニメヲタク、球技、運動は苦手だけどアクロバットやダンスは　グループ1</td>
                    <td>&nbsp;</td>
                    <td><img th:src="@{/picture/daisuke.png}" width="230"></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <font size="10" color="black">目黒蓮</font>
            <table>
                <tr>
                    <td><br>今世紀何しても</br>キマる男<br></br>SnowManの<br>演技派</br><br>グループ1のおバカさんといっても過言ではない、それでも俳優としての彼はカッコいい</td>
                    <td>&nbsp;</td>
                    <td><img th:src="@{/picture/ren.png}" width="230"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
